h1 {
    text-align: center;
    color: white;
    background-color: lightcoral;
    padding-top: 5px;
    padding-bottom: 15px;
}

#searchCard {
    background: gray;
}

.history {
    margin-top: 12px;
}

#search {
    float: left;
}

.daily {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
}

#uvArea {
    color: white;
}

.hide {
    display: none;
}

#history {
    max-height: 175px;
}